<% for (let i = 0; i < archetypes.length; i++) { %>
    <a class="archetype-link" href="/format/<%= archetypes[i].format.charAt(0).toLowerCase() + archetypes[i].format.slice(1) %>/<%= archetypes[i].name.split(" ").join("_") + "*" + archetypes[i].colors.split(" ").join("")%>">
        <div class="archetype-panel">
            <div class="panel-section" id="panel-top">
                <div class="panel-element" id="archetype-name" color_len="<%= archetypes[i].colors.length %>"><%= archetypes[i].name %></div>
                <div class="panel-element" id="color-identity" colors="<%= archetypes[i].colors %>">
                    <div class="mana-image" id="fifth-pos" style="background-image: url('../content/<%= archetypes[i].colors.charAt(archetypes[i].colors.length-1) %>.png')"></div>
                    <div class="mana-image" id="fourth-pos" style="background-image: url('../content/<%= archetypes[i].colors.charAt(archetypes[i].colors.length-3) %>.png')"></div>
                    <div class="mana-image" id="third-pos" style="background-image: url('../content/<%= archetypes[i].colors.charAt(archetypes[i].colors.length-5) %>.png')"></div>
                    <div class="mana-image" id="second-pos" style="background-image: url('../content/<%= archetypes[i].colors.charAt(archetypes[i].colors.length-7) %>.png')"></div>
                    <div class="mana-image" id="first-pos" style="background-image: url('../content/<%= archetypes[i].colors.charAt(archetypes[i].colors.length-9) %>.png')"></div>
                </div>
            </div>
            <div class="panel-section" id="panel-bottom">
                <div class="panel-element" id="meta-element">
                    <div class="heading">Meta %</div>
                    <div class="statistical-element">
                        <div class="statistic" id="meta-stat" len="<%= archetypes[i].data[archetypes[i].data.length-1].meta.toFixed(1).toString().length %>"><%= archetypes[i].data[archetypes[i].data.length-1].meta.toFixed(1) %></div>
                        <div class="stat-change" id="meta-stat-change" change="<%= archetypes[i].meta_change[0] %>"><%= archetypes[i].meta_change %></div>
                    </div>
                    </div>
                <div class="panel-element" id="price-element">
                    <div class="heading" id="price-heading" len="<%= archetypes[i].data[archetypes[i].data.length-1].price.toString().length %>">Price $</div>
                    <div class="statistical-element">
                        <div class="statistic" id="price-stat">$<%= archetypes[i].data[archetypes[i].data.length-1].price %></div>
                        <div class="stat-change" id="price-stat-change" change="<%= archetypes[i].price_change[0] %>"><%= archetypes[i].price_change.replace(" ", "$") %></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    
<% } %>